@font-face {
  font-family: 'Cafe24SsurroundAir'; /* 사용할 폰트의 이름을 정의 */
  src: url('./font/Cafe24SsurroundAir-v1.1.ttf'); /* 폰트 파일의 위치 */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrap { background:#efefef; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body { display:flex; }

#root {
  width:100%;
  max-width:720px;
  padding:20px;
  font-family: 'Cafe24SsurroundAir';
  margin:auto;
}

hr { border:1px solid #2196F3 }
button { margin-left:10px; border:none; padding:5px 10px; }
li { list-style: none; padding:10px; font-size:15px; margin-bottom:5px; position:relative; background:#e2f4ff; } 
li.active { background:#b9defd; } 
ol, ul { padding-left:0px !important; }
ul { margin-top:10px !important; }
.inpArea { width:100%; padding:0px; margin:0px; }
.regBtn { background:#ffd5d5; margin-left:10px; border-radius:5px; }
.inpItem { padding:5px; border:1px solid #ccc; border-radius:5px; width:calc(100% - 70px); }
.delBtn { padding:7px 10px; font-size:12px; margin-left:10px; position:absolute; right:3px; top:5px; border-radius:3px; }
.chkLabel input { display:none; }
.chkLabel { width:calc(100% - 50px);  cursor:pointer;  }
li .chkLabel::before { content:"⬜"}
li.active .chkLabel::before { content:"✅" }
